body{
    background-color: #010409;
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    top: 10vh;
    left:10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
    width: 90%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #161B22;
    height: 10vh;
    width: 100%;
    color: white;
    text-align: center;
    
}

.left {
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: #0D1117;
    height: 90vh;
     width: 10%;
    color: white;
    text-align: center;
}

.usr-img{
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1rem;
    right: 1rem;
    cursor: pointer;
    border: 1px solid #30363D;
    padding: 1rem;
}

.profile-menu {
    display: none;
}

.profile-menu.visible {
   display: block;
   z-index: 1;
}
.line{
    width: 100%;
    background-color: #30363D;
    margin: 0.5rem 0;
}
.usermenu{
    display: flex;
    position: fixed;
    top: 6.5rem;
    right: 1rem;
    background-color: rgba(13, 17, 23, 0.9);
    padding: 56px;
    border-radius: 10px;
    flex-direction: column; 
    box-shadow: 0px 0px 1px 3px #30363D;
}

.card{
    background-color: #000000;
    width: 16rem;
    height: 16rem;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #30363D;
    color: white;
    text-align: center;
    margin: 1rem;  
}
.card-header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #30363D;
    padding: 0.5rem;
}

.plus{
    align-self: flex-end;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #30363D;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(105%);
}
.main-plus{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #30363D;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(105%);
}